* {
    font-family: "Martian Mono", monospace;
    color: var(--text-white);
}

/* Header */
#Header {
    position: relative;
    background-color: var(--gray-500);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--text-white);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    list-style: none;
    justify-content: center;
    display: flex;
}

.nav-item {
    margin: 0 2rem;
}

.nav-link {
    text-decoration: none;
    color: var(--text-white);
}

.mobile-menu-icon {
    cursor: pointer;
    display: none;
}

.mobile-menu-icon div {
    width: 32px;
    height: 2px;
    background: var(--text-white);
    margin: 8px;
}

.mobile-menu {
    display: none;
}

.logo-kirashop {
    height: 100%;
    width: 40%;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
    flex: 1;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: var(--text-white);
    color: #000000;
    transition: 0.2s ease;
}

.input:focus {
    background-color: var(--gray-200);
    outline-style: none;
    box-shadow: 5px 5px var(--primary-blue);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.icones {
    display: flex;
    gap: 36px;
    align-items: center;
}

a:hover {
    color: var(--primary-blue);
    font-weight: bold;
}

/* Responsividade Header */
@media screen and (max-width: 1100px) {
    li {
        font-size: 14px;
    }

    .nav-bar {
        padding: 1.5rem;
    }

    .nav-item {
        display: none;
        margin: 0 12px;
    }

    .group {
        display: none;
    }

    .icones {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon .group {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .group {
        display: block;
        margin: 24px auto;
    }

    .mobile-menu .group .icon {
        display: none;
    }

    .mobile-menu .icones {
        display: block;
        margin-top: 24px;
        text-align: center;
        padding-bottom: 12px;
    }

    .open {
        display: block;
    }
}