@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

/* Variáveis */
:root {
    --primary-blue: #2E54A6;
    --light-blue: #6c63ff;
    --background-dark: #10101E;
    --text-white: #ffffff;
    --gray-200: #c3c3d1;
    --gray-400: #1e1e2c;
    --gray-500: #181826;
    --sucess-color: #1d8338;
    --error-color: #881337;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Martian Mono", monospace;
    color: var(--text-white);
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #05070d, #0a0f1a, #16243f);
    min-height: 100vh;}

.titulo-secao {
    margin-top: 70px;
    font-size: 48px;
    font-weight: 700;
    color: var(--gray-200);
    text-align: center;
}

.container-painel {
    margin-top: 70px;
}

.cards-crud {
    display: flex;
    gap: 48px;
    justify-content: center;
}

.card-crud {
    display: flex;
    width: 200px;
    height: 150px;
    background-color: transparent;
    gap: 12px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid var(--primary-blue);
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.card-crud::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    z-index: -1;
}

#post::before {
    background-color: #49CC90;
}

#put::before {
    background-color: #FCA130;
}

#get::before {
    background-color: #61AFFE;
}

#delete::before {
    background-color: #F93E3E;
}

.card-crud:hover {
    border: 2px solid;
    border-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.card-crud:hover a, .card-crud:hover span {
    color: #000;
    font-weight: 700;
}

.card-crud:hover::before {
    width: 100%;
}

.card-crud a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .titulo-secao {
        font-size: 36px;
    }

    .cards-crud {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 1fr));
        gap: 16px;
        justify-content: center;
        padding: 0 16px;
    }

    .card-crud {
        width: 100%;
        height: 125px;
        margin: 0 auto;
    }
}