@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

/* Variáveis */
:root {
    --primary-blue: #2E54A6;
    --light-blue: #6c63ff;
    --background-dark: #10101E;
    --text-white: #ffffff;
    --gray-200: #c3c3d1;
    --gray-400: #1e1e2c;
    --gray-500: #181826;
    --sucess-color: #1d8338;
    --error-color: #881337;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-white);
    font-family: "Martian Mono", monospace;
}

body {
    background-color: var(--background-dark);
}

main {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
}

aside {
    display: flex;
    flex-direction: column;
    width: 295px;
    gap: 24px;
    align-items: flex-start;
    padding: 20px 24px;
    border: 1px solid var(--gray-200);
    border-radius: 20px;
}

aside .item-marcas {
    list-style: none;
    color: var(--gray-200);
    line-height: 35px;
    cursor: pointer ;
}

aside hr {
    width: 100%;
}

aside .filtro-cores {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: flex-start;
    align-content: flex-start;
}

aside .filtro-cores button {
    padding: 10px 20px;
    align-items: center;
    border-radius: 40px;
    color: #000;
    background-color: var(--gray-200);
    border: none;
    transition: ease 0.3s all;
    cursor: pointer;
}

aside .filtro-cores button.botao-ativo {
    background-color: var(--primary-blue);
    color: #ffffff;
    font-weight: bold;
}

aside .botao-filtro {
    display: flex;
    height: 48px;
    padding: 16px 54px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    align-self: stretch;
    font-size: 13px;
    border-radius: 40px;
    background-color: var(--primary-blue);
    border: none;
    cursor: pointer;
}

.container-produtos {
    display: flex;
    flex-direction: column;
}

.cards-produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-produto img {
    width: 295px;
    height: 295px;
    background-color: #F0EEED;
    border-radius: 20px;
    object-fit: contain;
}

.card-produto .nome-produto {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.card-produto .valor-produto {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
}

section hr {
    margin-top: 35px;
    width: 100%;
}

dialog:not([open]) {
  display: none;
}

dialog {
    width: 100vw;
    height: 100vh;
}

@media (max-width: 768px) {
    .aside-desktop {
        display: none;
    }

    .cards-produtos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .card-produto img {
        width: 175px;
        height: 175px;
        background-color: #F0EEED;
        border-radius: 20px;
        object-fit: contain;
    }

.card-produto .nome-produto {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
    }

.card-produto .valor-produto {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    section hr {
        width: 80%;
        margin: 50px auto;
    }

    dialog {
        background-color: var(--background-dark);
        display: flex;
    }

    dialog aside {
        width: auto;
        height: auto;
    }
}