@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

/* Variáveis */
:root {
    --primary-blue: #2E54A6;
    --light-blue: #6c63ff;
    --background-dark: #10101E;
    --text-white: #ffffff;
    --gray-200: #c3c3d1;
    --gray-400: #1e1e2c;
    --gray-500: #181826;
    --sucess-color: #1d8338;
    --error-color: #881337;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Martian Mono", monospace;
    color: var(--text-white);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-dark);
}

.active {
    display: none;
}
/* Fim do Pop-up de Promoção */

/* Seção de Destaque */
.destaque-loja {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    width: 100%;
    height: 668px;
    gap: 40px;

    & .chamada {
        max-width: 40%;
    }
    
    & .chamada h1 {
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: 6px;
        margin-bottom: 20px;
    }
    
    & .chamada p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 30px;
    }
    
    & .chamada a {
        display: inline-block;
        padding: 16px 32px;
        border: none;
        border-radius: 8px;
        background: linear-gradient(135deg, var(--primary-blue), var(--light-blue));
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
        text-decoration: none;
        transition: background 0.3s ease;
    }
    
    & .chamada a:hover {
        background: linear-gradient(135deg, var(--light-blue), var(--primary-blue));
    }
    
    & .banner img {
        max-width: 100%;
        height: auto;
        border-radius: 12px;
    }
}

/* Banner de Marcas */
.banner-marcas {
    width: 100%;
    background-color: var(--primary-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    box-sizing: border-box;
    min-height: 120px;

    & img {
        max-height: 100px;
        max-width: 150px;
        width: auto;
        height: auto;
        object-fit: contain;
    }
}

/* Seção Lançamentos */
.lancamentos {
    margin-top: 70px;
    font-size: 48px;
    font-weight: 700;
    color: var(--gray-200);
    text-align: center;
}

.container-lancamentos {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


.container-lancamentos .nome-produto {
    font-size: 20px;
    font-weight: 700;
}

.container-lancamentos .valor-produto {
    font-size: 24px;
}

.cards-produtos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.imagem-produto {
    background-color: #f0eeed;
    width: 245px;
    height: 270px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagem-produto img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.info-produto {
    margin-left: 0;
}

.info-produto .nome-produto {
    margin-top: 10px;
}

/* Esquema de Avaliação Obtido no Uiverse */
.avaliacao-produto {
    display: inline-block;
}

.avaliacao-produto input {
    display: none;
}

.avaliacao-produto label {
    float: right;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s;
}

.avaliacao-produto label:before {
    content: '\2605';
    font-size: 30px;
}

.avaliacao-produto input:checked~label, .avaliacao-produto label:hover, .avaliacao-produto label:hover~label {
    color: #ffc633;
    transition: color 0.3s;
}

/* Fim da Seção de Avaliação */
/* Fim da Seção Lançamentos */

/* Botão de Carregar mais Cards */
.carregar-mais {
    background-color: transparent;
    width: 250px;
    height: 50px;
    gap: 12px;
    padding: 16px 54px;
    border-radius: 12px;
    border: 1px solid var(--primary-blue);
    margin: 70px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Seção Categorias */
.container-categorias {
    background-color: var(--primary-blue);
    max-width: 1240px;
    width: 90%;
    border-radius: 40px;
    margin: 70px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
    box-sizing: border-box;
    justify-content: center;
}

.titulo-categorias {
    margin-top: 70px;
    font-size: 48px;
    font-weight: 700;
    color: var(--gray-200);
    text-align: center;
}

.container-categorias h3 {
    font-size: 24px;
    font-weight: 700px;
    margin: 20px;
    color: #000;
}

.container-categorias img {
    display: block;
    margin: 20px auto 0 auto;
    max-width: 80%;
    height: auto;
}

.container-headset, .container-soundbar, .container-teclado, .container-mouse {
    background-color: var(--text-white);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: 290px;
    width: calc(50% - 15px);
}

.container-headset:hover, .container-soundbar:hover, .container-teclado:hover, .container-mouse:hover {
    transform: scale(1.05);
    border: 3px solid #1d8338;
}


/* Arrumar tamanho da imagem do soundbar */
.container-soundbar img {
    margin-top: 90px;
}

/* Arrumar tamanho da imagem do mouse*/
.container-mouse img {
    width: 60%;
}

.container-newsletter {
    margin: 180px auto 0 auto;
    background-color: #000000;
    border-radius: 20px;
    width: 100%;
    max-width: 1240px;
    padding: 36px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-newsletter h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: var(--gray-200);
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: var(--text-white);
    font-size: 15px;
    transition: ease 0.25s;
}

.input-group input:focus {
    background-color: var(--gray-200);
    outline-style: none;
    box-shadow: 5px 5px #1d8338;
}

.input-group input::placeholder {
    text-align: center;
}

.btnSubmit {
    width: 350px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, var(--primary-blue), var(--light-blue));
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.btnSubmit:hover {
    background: linear-gradient(135deg, var(--light-blue), var(--primary-blue));
}

/* Ajustes Responsividade Header e Categorias */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar {
        max-width: 100%;
        margin-top: 8px;
    }

    header a {
        padding: 6px 10px;
    }

    .promo-register {
        flex-direction: column;
        padding: 10px 20px;
        font-size: 13px;
    }

    .user-dropdown {
        align-self: flex-end;
    }

    .banner {
        display: none;
    }

    .chamada {
        max-width: 100%;
    }

    .chamada h1 {
        font-size: 40px;
        letter-spacing: 4px;
        line-height: 60px;
    }

    .lancamentos, .titulo-categorias {
        font-size: 36px;
    }

    .container-lancamentos, .container-categorias {
        margin-top: 30px;
    }

    .container-headset, .container-soundbar, .container-teclado, .container-mouse {
        width: 100%;
    }

    .container-categorias {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .container-categorias h3 {
        font-size: 20px;
        margin: 10px;
    }

    .container-categorias img {
        max-width: 100%;
    }

    .container-mouse img {
        width: 100%;
    }

    .container-newsletter {
        flex-direction: column;
        gap: 24px;
        text-align: center;
        padding: 36px 24px;
        width: 90%;
    }

    .container-newsletter h1 {
        font-size: 20px;
    }

    .btnSubmit {
        width: 100%;
    }
}

/* Responsividade do Menu Mobile */
@media (max-width: 768px) {
    .group {
        display: none;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .hamburger-menu {
        display: flex;
    }

    nav a {
        display: none;
    }

    .mobile-menu.active {
        display: flex;
    }
}

